@import "style.css";

main {
    width: 100%;
}

body {
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

div.boissonEnTete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.boissonEnTeteTexte{
    display: flex;
    flex-direction: row;
    height: auto;
}

div.boissonEnTeteTexte p{
    margin: 0;
    font-size: xx-large;
}

button {
    font-size: large;
    padding: 5px;
    margin-left: 10px;
}